@media screen and (min-width: 1024px) { *, :before, :after {
  --semantic-spacing-general-none: 0px;
  --semantic-spacing-general-3xs: 1px;
  --semantic-spacing-general-2xs: 2px;
  --semantic-spacing-general-xs: 4px;
  --semantic-spacing-general-sm: 8px;
  --semantic-spacing-general-md: 16px;
  --semantic-spacing-general-lg: 24px;
  --semantic-spacing-general-xl: 24px;
  --semantic-spacing-general-2xl: 32px;
  --semantic-spacing-general-3xl: 32px;
  --semantic-spacing-general-4xl: 48px;
  --semantic-spacing-general-5xl: 48px;
  --semantic-spacing-gap-none: 0px;
  --semantic-spacing-gap-2xs: 1px;
  --semantic-spacing-gap-xs: 2px;
  --semantic-spacing-gap-sm: 4px;
  --semantic-spacing-gap-md: 8px;
  --semantic-spacing-gap-lg: 16px;
  --semantic-spacing-gap-xl: 24px;
  --semantic-spacing-gap-2xl: 48px;
  --semantic-spacing-gap-3xl: 96px;
  --semantic-border-radius-none: 0px;
  --semantic-border-radius-xs: 2px;
  --semantic-border-radius-sm: 4px;
  --semantic-border-radius-md: 6px;
  --semantic-border-radius-lg: 8px;
  --semantic-border-radius-xl: 10px;
  --semantic-border-radius-2xl: 16px;
  --semantic-border-radius-pill: 28px;
  --semantic-font-size-heading-hero: 64px;
  --semantic-font-size-heading-h1: 48px;
  --semantic-font-size-heading-h2: 32px;
  --semantic-font-size-heading-h3: 24px;
  --semantic-font-size-heading-h4: 20px;
  --semantic-font-size-heading-h5: 18px;
  --semantic-font-size-heading-h6: 16px;
  --semantic-font-size-heading-h7: 14px;
  --semantic-font-size-body-xl: 20px;
  --semantic-font-size-body-lg: 18px;
  --semantic-font-size-body-md: 16px;
  --semantic-font-size-body-sm: 14px;
  --semantic-font-size-caption: 12px;
  --semantic-font-size-code-xl: 20px;
  --semantic-font-size-code-lg: 18px;
  --semantic-font-size-code-md: 16px;
  --semantic-font-size-code-sm: 14px;
  --semantic-font-size-icon-label-paired-xl: 20px;
  --semantic-font-size-icon-label-paired-lg: 18px;
  --semantic-font-size-icon-label-paired-md: 16px;
  --semantic-font-size-icon-label-paired-sm: 14px;
  --semantic-font-size-icon-label-paired-caption: 12px;
  --semantic-font-size-icon-standalone-2xl: 64px;
  --semantic-font-size-icon-standalone-xl: 40px;
  --semantic-font-size-icon-standalone-lg: 32px;
  --semantic-font-size-icon-standalone-md: 20px;
  --semantic-font-size-icon-standalone-sm: 16px;
  --semantic-paragraph-spacing-heading-hero: 64px;
  --semantic-paragraph-spacing-heading-h1: 48px;
  --semantic-paragraph-spacing-heading-h2: 32px;
  --semantic-paragraph-spacing-heading-h3: 24px;
  --semantic-paragraph-spacing-heading-h4: 20px;
  --semantic-paragraph-spacing-heading-h5: 18px;
  --semantic-paragraph-spacing-heading-h6: 16px;
  --semantic-paragraph-spacing-heading-h7: 14px;
  --semantic-paragraph-spacing-body-xl: 20px;
  --semantic-paragraph-spacing-body-lg: 18px;
  --semantic-paragraph-spacing-body-md: 16px;
  --semantic-paragraph-spacing-body-sm: 14px;
  --semantic-paragraph-spacing-caption: 12px;
  --semantic-paragraph-spacing-code-xl: 20px;
  --semantic-paragraph-spacing-code-lg: 18px;
  --semantic-paragraph-spacing-code-md: 16px;
  --semantic-paragraph-spacing-code-sm: 14px;
  --semantic-line-height-heading-hero: normal;
  --semantic-line-height-heading-h1: normal;
  --semantic-line-height-heading-h2: normal;
  --semantic-line-height-heading-h3: normal;
  --semantic-line-height-heading-h4: normal;
  --semantic-line-height-heading-h5: normal;
  --semantic-line-height-heading-h6: normal;
  --semantic-line-height-heading-h7: normal;
  --semantic-line-height-body-xl: 30px;
  --semantic-line-height-body-lg: 28px;
  --semantic-line-height-body-md: 24px;
  --semantic-line-height-body-sm: 22px;
  --semantic-line-height-caption: 18px;
  --semantic-line-height-code-xl: 30px;
  --semantic-line-height-code-lg: 28px;
  --semantic-line-height-code-md: 24px;
  --semantic-line-height-code-sm: 22px;
  --semantic-line-height-icon-label-paired-xl: 30px;
  --semantic-line-height-icon-label-paired-lg: 28px;
  --semantic-line-height-icon-label-paired-md: 24px;
  --semantic-line-height-icon-label-paired-sm: 22px;
  --semantic-line-height-icon-label-paired-caption: 18px;
  --semantic-line-height-icon-standalone-2xl: 96px;
  --semantic-line-height-icon-standalone-xl: 64px;
  --semantic-line-height-icon-standalone-lg: 48px;
  --semantic-line-height-icon-standalone-md: 32px;
  --semantic-line-height-icon-standalone-sm: 24px;
  --semantic-border-width-none: 0;
  --semantic-border-width-xs: 1px;
  --semantic-border-width-sm: 2px;
  --semantic-border-width-md: 4px;
  --semantic-border-width-lg: 8px;
}}
