html {
  --semantic-color-background-primary-base: #f6f7f8;
  --semantic-color-background-primary-container: #ffffff;
  --semantic-color-background-secondary-base: #ffffff;
  --semantic-color-background-secondary-container: #f6f7f8;
  --semantic-color-background-dialog: #ffffff;
  --semantic-color-typography-prominent: #000000;
  --semantic-color-typography-default: rgba(0, 0, 0, 0.72);
  --semantic-color-typography-subtle: rgba(0, 0, 0, 0.48);
  --semantic-color-typography-disabled: rgba(0, 0, 0, 0.24);
  --semantic-color-typography-link: #ff444f;
  --semantic-color-status-info: #1789e1;
  --semantic-color-status-success: #22bd41;
  --semantic-color-status-warning: #e18d00;
  --semantic-color-status-danger: #db0800;
}
