on: ['push', 'pull_request']

name: Coveralls

jobs:
  build:
    name: Reporter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: npm
          registry-url: 'https://npm.pkg.github.com'

      - name: Install npm dependencies
        # Skip post-install scripts here, as a malicious script could steal NODE_AUTH_TOKEN.
        run: 'npm ci --ignore-scripts --include=optional'
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
      - name: Run tests
        run: 'JEST_MAX_WORKERS=3 npm run test:ci'
      - name: Coveralls
        uses: coverallsapp/github-action@v2
